/* ===== Primary Styles ========================================================
   Author: 
   ========================================================================== */


.me {

}

.workout {
    border-top: 1px solid;
}

.goal {
    border-top: 1px solid;
}

.photo {
    margin-left: 300px;
    margin-top: -160px;
}

input[type="radio"] {
  padding-right: 10px;
}

.table-equip {
    cellpadding: 10px;
}