
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <image class="brand" width="72px" height="24px" src="img/ufit_logo.png" />
          
        </div>
      </div>
    </header>



    <!-- Search Categories -->
    <div id="content">
        <div id="container" class="container">
            <div class="me">
                <h2> Personal Information </h2>
                <table cellpadding="10px">
                <tr>
                    <td> Age: </td>
                    <td> <input type="text" name="age" style="width:50px;" value="28"> </td>
                </tr>
                <tr>
                    <td valign="top"> Weight: </td>
                    <td> <input type="text" name="weight" style="width:50px;" value="170"> <br>
                        <input type="radio" name="weight" value="male" checked="checked"> Pounds
                        <input type="radio" name="weight" value="male"> Kilograms
                    </td>
                    
                </tr>
                <tr>
                    <td> Gender: </td>
                    <td>
                        <input type="radio" name="sex" value="male" checked="checked"> Male
                        <input type="radio" name="sex" value="male"> Female
                    </td>
                </tr>
                </table>
                <div class="photo">
                    <img src="img/photo.jpg" width="220px">
                </div>
                <br>
            </div>
            
            <div class="workout">
                <br>
                <h2> Workout Plan </h2>
                <table cellpadding="10px">
                <tr>
                    <td> How many times a week: </td>
                    <td>
                        <select style="width:60px;">
                            <option value="volvo"></option>
                            <option value="saab">1</option>
                            <option value="mercedes">2</option>
                            <option value="saab" selected>3</option>
                            <option value="mercedes">4</option>
                            <option value="mercedes">5</option>
                            <option value="saab">6</option>
                            <option value="mercedes">7</option>
                        </select>
                    </br>
                </tr>
                <tr>
                    <td> Duration (minutes): </td>
                    <td> <input type="text" name="age" style="width:50px;" value="40"> </td>
                </tr>
                <tr>
                    <td> Location: </td>
                    <td>
                        <input type="radio" name="loc" value="male" > Home
                        <input type="radio" name="loc" value="male" checked="checked"> Gym
                    </td>
                </tr>
                <tr>
                    <td> Equipments: </td>
                    <td>
                        <table cellpadding="10px">
                        <tr>
                        <td><input type="checkbox" name="equi" value="Bike" checked="checked"> Treadmill</td>
                        <td><input type="checkbox" name="equi" value="Bike"> Elliptical </td>
                        <td><input type="checkbox" name="equi" value="Bike"> Exercise ball</td>
                        <td><input type="checkbox" name="equi" value="Bike"> Medicine ball </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="equi" value="Bike" checked="checked"> Dumbbells</td>
                            <td><input type="checkbox" name="equi" value="Bike"> Barbells </td>
                            <td><input type="checkbox" name="equi" value="Bike"> Free Weights </td>
                            <td><input type="checkbox" name="equi" value="Bike" checked="checked"> Kettlebells </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="equi" value="Bike"> Jump rope</td>
                            <td><input type="checkbox" name="equi" value="Bike"> Full gym </td>
                            <td><input type="checkbox" name="equi" value="Bike"> Ab wheels</td>
                        </tr>
                        </table>
                    </td>
                </tr>
                </table>
                <!--
                <div class="body-image">
                    Areas of body:<br>
                    <img src="img/human-body.jpg" width="400px">
                </div>
                 -->
            </div>
            
            <div class="goal">
                <br>
                <h2> Workout Goal </h2>
                <table cellpadding="10px">
                <tr>
                    <td> Primary: </td>
                    <td>
                        <select>
                            <option value="volvo"></option>
                            <option value="saab">Cardio</option>
                            <option value="mercedes">Flexibility</option>
                            <option value="mercedes">Strength</option>
                            <option value="mercedes" selected>Weight Loss</option>
                        </select>
                    </br>
                </tr>
                <tr>
                    <td> Secondary: </td>
                    <td>
                        <select>
                            <option value="volvo"></option>
                            <option value="saab" selected>Cardio</option>
                            <option value="mercedes">Flexibility</option>
                            <option value="mercedes">Strength</option>
                            <option value="mercedes">Weight Loss</option>
                        </select>
                    </br>
                </tr>
                </table>
                
                <br>
                <a href="/select"> <button type="button" class="btn btn-primary">Search</button></a>
            </div>
        </div> <!-- /container -->
    </div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

<script src="js/plugins.js"></script>
<script src="js/script.js"></script>
<script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>