

<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container" >
          <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!-- <a class="brand" href="#">uFit</a> -->
          <image class="brand" width="72px" height="24px" src="img/ufit_logo.png" />
          <nav class="nav-collapse pull-right">
            <!--<ul class="nav">
              <li class="dropdown">
              		<a class="dropdown-toggle" data-toggle="dropdown" href="#categories">Sort<b class="caret"></b></a>
              		<ul class="dropdown-menu">
              			<li><a href="#">By Price</a></li>
          			<li><a href="#">Has Image</a></li>
              		</ul>
              	</li>
              	<li><a href="#contact">Contact</a></li>
              <li><a href="#cart">Cart <i class="icon-shopping-cart icon-white"></i></a></li>
              
            </ul> -->
          </nav><!--/.nav-collapse -->
        </div>
      </div>
    </header>

      <!-- Search form-->
      <!--<form id="search-form" class="well form-inline">
		 <div class="container">
		 	<div class="row">
		 		<div class="span12">
		 			<input id="search-input" type="text" class="span8" placeholder="e.g. High Top" data-provide="typeahead">
	       			<a id="btn-search-lrg" href="#" class="btn btn-primary" title="Go forth and search!">Search</a>
	      			<a id="btn-search-small" href="#" class="btn btn-small btn-primary" title="Go forth and search!">
	      				<i class="icon-search icon-white"></i>
	     			 </a>
	      		</div>
	      	</div>
	      </div>
      </form> -->

	<!-- Search Categories -->
	<div id="content">
		<div id="container" class="container">
			<div class="row"> 
				<aside id="preferences" style="position:absolute;top:20px;left:10px;width:300px;height:600px;font-size:14px;font-family:Arial;border-right:1px gray solid">
					<fieldset>
						<h3 style:"position:absolute;left:60px"> Preferences </h2>
						<form style:"position:absolute;top:45px">
							<label> <b>Muscle Group</b> </label>
							<input name="muscle_groups" type="checkbox" checked="checked"/> Chest <br>
							<input name="muscle_groups" type="checkbox" checked="checked"/> Back <br>
							<input name="muscle_groups" type="checkbox" /> Core <br>
							<input name="muscle_groups" type="checkbox" /> Legs <br><br>

							<label> <b>Focus</b> </label>
							<input name="focus" type="checkbox" checked="checked"/> Cardio <br>
							<input name="focus" type="checkbox" /> Flexibility <br>
							<input name="focus" type="checkbox" /> Strength <br>
							<input name="focus" type="checkbox" /> Weight Loss <br><br>

							<label> <b>Days per Week</b> </label>
							1 <input type="range" name="points" min="1" max="10" value=3> 7 <br><br>

							<label> <b>Price $</b> </label>
							0 <input type="range" name="points" min="1" max="100" value="30"> 100 <br><br>

						</form>
					</fieldset>
				</aside>
				<!-- Results list and tabular data -->
				<div class="span9" id="results-main" style="float:right">
					<h4><small>Premium Results</small></h4>
					<div class="results-on">
						<section class="result-part" style="background-color:#fff7ed;padding:10px;border-bottom:solid 1px gray">
							<iframe style="float:left;padding:0px 30px 0px 0px" width="300" height="169" src="//www.youtube.com/embed/ovDsE7NPwkI" frameborder="0" allowfullscreen></iframe>
							<h3><a href="#" class="view-detail"> David Strong </a>
								<a class="manf-name" href="#"> Contact Me </a>
							</h3>
							<p class="short-desc pull-left" stye="float:left"> 12 years experience <br>
							Palo Alto, CA <br>
							Strength and Nutrition specialist </p>
							<div class="price-avail pull-right">
								<!-- star rating inputs -->
								<input name="rating0" type="radio" class="star">
								<input name="rating0" type="radio" class="star">
								<input name="rating0" type="radio" class="star">
								<input name="rating0" type="radio" class="star">
								<input name="rating0" type="radio" class="star" checked="checked">
								<!-- price and availability -->
								<p class="price">Price: $35.00</p>
								<a href="#" class="classname-select-button">Select</a>
							</div>
						</section>
						<br>
					<div>
					<h4><small>89 Results for Hard Cardio in 12.93 ms</small></h4>
					
					<!-- part reslults -->
					<div id="results" class="results-on">
						
						<section class="result-part">
							<iframe width="300" height="169" style="float:left;padding:0px 30px 0px 0px" margin="30px" src="//www.youtube.com/embed/MStBzKE2Ft4" frameborder="0" allowfullscreen></iframe>
							<h3><a href="#" class="view-detail"> Livestrong </a>
								<a class="manf-name" href="#"> Join Us </a>
							</h3>
							<p class="short-desc pull-left"> Instructors: <b>Trapp, Calabrese</b>
<br>
Program Duration: <b>4 weeks</b>
<br>
Exercises per week: <b>3</b>
<br>
Exercise Length: <b>30-45 min. </b>
<br>
Level: <b>Intermediate</b>
<br> </p>
							<div class="price-avail pull-right">
								<!-- star rating inputs -->
								<input name="rating1" type="radio" class="star">
								<input name="rating1"type="radio" class="star">
								<input name="rating1"type="radio" class="star">
								<input name="rating1"type="radio" class="star" checked="checked">
								<input name="rating1"type="radio" class="star">
								<!-- price and availability -->
								<p class="price">Price: $10.00</p>
								<a href="#" class="classname-select-button">Select</a>
							</div>
								
						</section>
						
						<section class="result-part">
							<iframe width="300" height="169" style="float:left;padding:0px 30px 0px 0px" margin="30px" src="//www.youtube.com/embed/tzD9BkXGJ1M" frameborder="0" allowfullscreen></iframe>
							<h3><a href="#" class="view-detail"> Crossfit </a>
								<a class="manf-name" href="#"> Join Us </a>
							</h3>
							<p class="short-desc pull-left"> Instructors: <b>Jorgensen, Jason, Matt</b>
<br>
Program Duration: <b>6 weeks</b>
<br>
Exercises per week: <b>4</b>
<br>
Exercise Length: <b>45-60 min. </b>
<br>
Level: <b>Intermediate</b>
<br> </p>
							<div class="price-avail pull-right">
								<!-- star rating inputs -->
								<input name="rating2" type="radio" class="star">
								<input name="rating2"type="radio" class="star">
								<input name="rating2"type="radio" class="star" checked="checked">
								<input name="rating2"type="radio" class="star">
								<input name="rating2"type="radio" class="star">
								<!-- price and availability -->
								<p class="price">Price: Free</p>
								<a href="#" class="classname-select-button">Select</a>
							</div>
						</section>
		          	<br>
				</div>
			</div>
			<!-- end parts results -->
		</div>
	</div>

    </div> <!-- /container -->
		
    </div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

<script src="js/plugins.js"></script>
<script src="js/script.js"></script>
<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
