<h1> Advanced Chest, Back, Legs </h1>
<ul>
	<li>
		<iframe width="420" height="345" src="http://www.youtube.com/embed/XGSy3_Czz8k"> </iframe>
		<p> Instuctor: Joe </p>
		<p> Duration: 7 Day Cycle </p>
		<p> Level: Advanced </p>
	</li>
</ul>
<ul>
	<li>
		<iframe width="420" height="345" src="http://www.youtube.com/embed/XGSy3_Czz8k"> </iframe>
		<p> Instuctor: Joe </p>
		<p> Duration: 7 Day Cycle </p>
		<p> Level: Advanced </p>
	</li>
</ul>
