<h1> Personalized Regimine Options </h1>
<div>
	<iframe width="560" height="315" style="float:left" margin="30px" src="//www.youtube.com/embed/MStBzKE2Ft4" frameborder="0" allowfullscreen></iframe>
	<div>
		<h2> Livestrong </h2>
		<p>featuring instuctors <b>Trapp, Calabrese</b></p>
	</div>
</div>



<div style="clear:left">
	<iframe width="560" height="315" style="float:left" margin="30px" src="//www.youtube.com/embed/tzD9BkXGJ1M" frameborder="0" allowfullscreen></iframe>
	<ul style="list-style-type:none">
		<li>Instuctor: Jorgensen, Jason, Matt</li>
		<li>Duration: 7 Day Cycle</li>
		<li><b>Level:</b> Intermediate</li>
	</ul>
</div>

